
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


*{
    box-sizing: border-box;
}
body{
    background-color: pink;
}
header h2{

    font-family: 'Raleway', sans-serif;
    margin-left: 100px;
    color: rgb(255, 255, 255);
   font-size: 20px;
   font-weight: bold;
   border-bottom: 5px groove palevioletred;
   padding: 10px;
   border-radius: 10px;
}
body header nav ul{
    margin: 0px;
    margin-bottom: 10px;
}
header nav ul li img{
    padding-top: 40px;
    width: 250px;
    height: 120px;
    margin-top: 10px;
}


header nav ul li{
    display: inline-block;
    margin-right: 180px;
    margin-bottom: 40px;
}

header,footer{
    background-color: rgb(243, 74, 74);
     margin: 0px;
}
main{
    margin: 0px;  
}

th{
    padding: 10px;
    margin: 0px;
    border: 1px solid rgb(243, 74, 74);
    font-weight: bold;


}
td{
padding: 10px;
text-align: center;
border: 1px solid rgb(243, 74, 74);


}
table{
    border-collapse: collapse;
    border: 1px solid rgb(243, 74, 74);
    margin: 0px;
    width: 100%;
    font-family: Helvetica;
    background-color: coral;
}


header a:link {
    text-decoration: none;
    color: pink;
    font-size: 40px;
    border:5px groove palevioletred;
    padding: 10px;
    border-radius: 40px;

  }
header a:visited {
    text-decoration: none;
    color: pink;
    font-size: 40px;
    border: 5px groove palevioletred;
    padding: 10px;
    border-radius: 40px;

  }
  input:valid{
    border: 1.5px double rgb(200, 24, 24)  ;

}

input:invalid{
    border: 1.5px double rgb(200, 24, 24) ;

}


main section nav h2{
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:5px groove palevioletred;
    border-radius: 40px;
    font-family: 'Lobster', cursive;
    color: coral;


}

main section nav ul li{
    font-weight: bold;
    font-size: 30px;
    width: 70%;
    border:5px groove palevioletred;
    border-radius: 40px;
    margin-left: 80px;
    margin-top: 50px;
    padding: 20px;


}

main section nav{
    display: inline-block;
     width: 45%;
     border:5px groove palevioletred;
     border-radius: 40px;
     float: left;
     margin: 10px;
     margin-left: 50px;
     background-color: wheat;

}

main section article{
    width: 45%;
    float: right;

}
main section{
    text-align: center;
}

main a:link {
    text-decoration: none;
    color: palevioletred;
    font-size: 40px;
    padding: 10px;

  }
main a:visited {
    text-decoration: none;
    color: palevioletred;
    font-size: 40px;
    padding: 10px;

  }

main p{
    text-align: left;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia;
}

main h3{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Akaya Kanadaka', cursive;
    color: orangered;

}
#img1{
    margin-bottom: 40px;
}

#img2{
    width: 50%;
    margin-bottom: 10px;
}

#img3{
    border:5px groove palevioletred;
    border-radius: 40px;
    align-self: center;
    width: 70%;
    margin:20px;
    margin-left:250px;
}

footer section ul li{
    display: inline-block;
margin: 0;
}

#img4{
    width: 20%;
    display: inline-block;


}
footer section ul{
    margin: 0px;
}

footer section ul li h2{
    display: inline-block;
    color: pink;
margin: 20px;
font-size: 40px;
font-weight: bold;
font-family: 'Architects Daughter', cursive;
}

footer section ul li a:link {
    text-decoration: none;
    display: inline-block;
    color: palevioletred;
    border: 5px groove palevioletred;
    background-color: pink;
    font-size: 40px;
    padding: 10px;

  }
footer section ul li a:visited {
    text-decoration: none;
    display: inline-block;
    color: palevioletred;
    border: 5px groove palevioletred;
    background-color: pink;
    font-size: 40px;
    padding: 10px;

  }
  footer{
      margin-top:20px ;
  }

  fieldset{
    display: inline-block;
    width: 20%;
    margin: 20px;
    border: 2px solid orangered;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Alfa Slab One', cursive;
    color: orangered;
    background-color: peachpuff;

  }
  fieldset label{
    width: 100%;
    margin: 20px;
    text-align: left;

  }
  fieldset input{

    width: 80%;
    height: 50px;

    margin: 20px;
    text-align: center;

  }
  input:last-of-type{
      font-size: 20px;
      font-weight: bold;
      color: red;
  }
